.root
  position: relative

.trigger

.content
  position: absolute
  top: 100%
  right: 0

  opacity: 0
  visibility: hidden

  background-color: hsl(var(--surface-container-hsl))

  border-radius: var(--medium-shape)

  padding: 1rem

  max-height: 80svh

  overflow: hidden auto

  box-shadow: 0 0 0.3rem hsla(var(--surface-bxs))

  transition: top 200ms ease-in-out, opacity 200ms ease-in-out, visibility 200ms ease-in-out

  &[aria-hidden=false]
    top: 115%
    opacity: 1
    visibility: visible
