.root
  position: relative

.wrapper
  position: absolute
  top: 115%
  right: 0

  display: grid
  grid-template-rows: auto 1fr

  opacity: 0
  visibility: hidden

  contain: paint
  background-color: hsl(var(--surface-container-hsl))
  border-radius: var(--medium-shape)
  box-shadow: 0 0 0.5rem hsla(var(--surface-bxs-hsla))

  width: max-content
  max-height: calc(100vh - var(--header-h) - 1rem)

  transform-origin: top right
  scale: 0.9

  transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out, scale 200ms ease-in-out

  &[aria-hidden=false]
    scale: 1
    opacity: 1
    visibility: visible

.header
  display: flex
  align-items: center
  justify-content: space-between
  gap: 1rem

  font-size: var(--title-l-fs)
  padding: 0.3rem 1rem

  border-bottom: 1px solid hsl(var(--outline-variant-hsl))

.title
  font-weight: 500
  padding-block: 0.45rem

.content
  font-size: var(--body-l-fs)
  padding: 0.7rem 1rem
  overflow: hidden auto

.actions
  display: flex
  align-items: center
  gap: 0.3rem
