.wrapper {
  position: relative;
  display: inline-block;
}

.btn {
  position: relative;
  overflow: hidden;

  display: flex;
  align-items: center;
  gap: 0.5rem;

  color: hsl(var(--primary-hsl));

  padding: 0.7rem 1.5rem;

  border-radius: var(--full-shape);

  &._asIcon {
    padding: 0.7rem;
  }

  &._danger {
    --ripple-hsl: var(--danger-hsl);

    color: hsl(var(--danger-hsl));
  }

  &._filled {
    --ripple-hsl: var(--surface-hsl);

    background-color: hsl(var(--primary-hsl));
    color: hsl(var(--on-primary-hsl));

    &._danger {
      --ripple-hsl: 0, 0%, 0%;
      background-color: hsl(var(--danger-hsl));
      color: hsl(var(--on-danger-hsl));
    }
  }

  &._elevated {
    background-color: hsl(var(--primary-container-hsl));
    box-shadow: 0 0.1rem 0.1rem hsla(var(--primary-bxs));
  }

  &._outlined {
    outline: 1px solid hsl(var(--primary-hsl));
    outline-offset: -1px;

    &._danger {
      outline-color: hsl(var(--danger-hsl));
    }
  }

  &:focus-visible {
    outline: 2px solid hsl(var(--primary-hsl));
    outline-offset: 2px;

    &._danger {
      outline-color: hsl(var(--danger-hsl));
    }
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: hsl(var(--primary-container-low-hsl));

      &._danger {
        background-color: hsl(var(--danger-container-low-hsl));
      }

      &._filled {
        background-color: hsl(var(--primary-low-hsl));

        &._danger {
          background-color: hsl(var(--danger-low-hsl));
        }
      }

      &._elevated {
        background-color: hsl(var(--primary-container-high-hsl));
      }
    }
  }
}
