@import "./var";
@import "./default";
@import "./components/rippleEffect";

.wrapper {
}

.horizontal-wrapper {
  display: flex;

  padding: var(--safe-area-pd);
}

.container {
  display: flex;
  flex-direction: column;

  flex: 1;

  max-width: var(--container-mw);
  padding-inline: var(--container-pdi);
  margin-inline: auto;
}
