.wrapper
  position: relative
  overflow: hidden
  cursor: pointer

  display: flex
  align-items: center
  border-radius: var(--small-shape)

  &:has(input:focus-visible),
  &:has(input[data-program-focus])
    outline: 2px solid hsl(var(--focus-outline-clr-hsl))
    outline-offset: 2px

  &._togglerLeft
    label
      padding-left: calc(0.1rem + 1.3rem + 1.4rem + 0.5rem)

    .toggler
      right: auto
      left: 0.1rem

  @media (hover: hover) and (pointer: fine)
    &:not(:has(.toggler:hover))
      &:hover
        background-color: hsl(var(--primary-container-low-hsl))

  label
    position: relative
    overflow: hidden

    flex: 1

    display: flex
    align-items: center
    gap: 0.5rem

    padding: 0.7rem

  input
    opacity: 0
    width: 0
    height: 0

    &:checked ~ .toggler
      .checkboxIcon
        background-color: hsl(var(--primary-hsl))
        border-color: hsl(var(--primary-hsl))

        animation: jumping 200ms ease-in-out forwards

.checkboxIcon
  display: flex
  align-items: center
  justify-content: center

  width: 1.3rem
  height: 1.3rem

  border: 2px solid hsl(var(--outline-hsl))
  border-radius: var(--extra-small-shape)

  color: hsl(var(--surface-hsl))

  transition: background-color 200ms ease-in-out, border-color 200ms ease-in-out

  svg
    width: 100%
    height: 100%
    animation: scaled 200ms ease-in-out forwards

.labelText
  flex: 1

.leadingIcon
  font-size: var(--title-l-fs)

.toggler
  position: absolute
  top: 50%
  right: 0.1rem

  translate: 0 -50%

@keyframes jumping
  from
    scale: 1

  50%
    scale: 0.9

  from
    scale: 1

@keyframes scaled
  from
    scale: 0

  to
    scale: 1
