.root {
  background-color: hsl(var(--surface-container-hsl));
  // box-shadow: 0 0 0.3rem hsla(var(--surface-bxs));
  border-radius: var(--medium-shape);
  padding: 1.5rem;
}

.header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1rem;
}

.title {
  font-size: var(--title-l-fs);
  font-weight: 500;
}

.content {
}
