.aside {
  position: sticky;
  top: var(--safe-area-pd);
  height: calc(100svh - var(--safe-area-pd) * 2);
  background-color: hsl(var(--surface-container-hsl));

  border-radius: var(--medium-shape);
  padding: 0.7rem 0.5rem;

  flex-shrink: 0;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;

  height: 100%;

  font-size: var(--headline-m-fs);

  &Link {
    color: hsl(var(--on-surface-hsl));

    padding: 1rem;
    border-radius: var(--large-shape);
  }

  &Group {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }
}

.activeNavLink {
  color: hsl(var(--primary-hsl));
}

.header {
  flex: 0 1 5rem;
}

.main {
  flex-grow: 1;
}
